@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: silver;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    color: rgb(247, 131, 131);
}

form {
    border: 2px solid #333;
    box-shadow: 2px 3px 4px 5px silver;
    border-radius: 4px;
}

.form-wrap {
    display: grid;
    padding: 5px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 2px;

}

input:focus {
    border: 1px solid grey;
}

/* ERROR MESSAGES */

.error-empty {
    display: block;
    text-align: center;
    background: rgb(224, 26, 26);
    color: white;
    padding: 5px;
    font-size: 20px;
    display: none;
}

.error-match {
    display: block;
    text-align: center;
    background: rgb(224, 26, 26);
    color: white;
    padding: 5px;
    font-size: 20px;
    display: none;
}

.error-min {
    display: block;
    text-align: center;
    background: rgb(224, 26, 26);
    color: white;
    padding: 5px;
    font-size: 20px;
    display: none;
}

.submit {
    text-align: center;
}

#submit-btn {
    border: none;
    padding: 10px 30px;
    border-radius: 5pc;
    margin-bottom: 7px;
    background: rgb(247, 131, 131);
    color: white;
    cursor: pointer;
}


/* Modal/Pop up on submit */

.modal {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: 0.5s ease-in;

}

.modal-wrap {
    background: whitesmoke;
    padding: 50px;
    position: relative;

}

.close-modal {
    position: absolute;
    right: 40px;
}

.close-modal button {
    border: none;
    padding: 10px 30px;
    border-radius: 5pc;
    margin-bottom: 7px;
    background: rgb(247, 131, 131);
    color: white;
    cursor: pointer;
}